/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

// angular2-image-gallary
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
//@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'variables';
nav {
    // margin-top: 16px;
    // margin-bottom: 15px;
}

nav a {
    background-color: $nav-button-color;
    color: white;
    padding: 0;
    margin: 0px;
    vertical-align: middle;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: inherit;
}

.navbar {
    margin-bottom: 15px;
    width: 100%;
}

.navbar-inverse {
    background-color: $nav-bg-color;
    border-color: $nav-bg-color;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-header {
    width: 100%;
}

h1 {
    text-shadow: #525252 0px 0px 20px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

pre {
    border: 0;
    background-color: transparent;
    white-space: nowrap;
}

.col-md-4 p {
    color: #555;
}

.credits p {
    color: #555;
}

.row li {
    color: #555;
}

.key_features {
    text-shadow: none;
    font-weight: bold;
}

.tagline {
    text-shadow: #525252 0px 0px 20px;
}

.center {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

.custom-image {
    position: relative;
    bottom: -110px;
    padding: 40px;
    margin: 0 auto;
    margin-top: -120px;
    width: 900px;
    height: auto;
    outline: 1px solid white;
    outline-offset: -50px;
}

.logo-image {
    width: 150px;
    height: auto;
    display: initial;
}

.jumbotron {
    padding-top: 0;
    background-color: $nav-bg-color;
    color: #ffffff;
}