html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #ded1c130;
}

h1 {
    font-weight: normal;
}

a:active,
a:focus {
    background-color: #ded1c1;
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.innerGalleryContainer {
    margin-top: 2em;
}