html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

a:active,
a:focus {
    background-color: #ded1c1;
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}