/*styles for home content only*/

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    margin: 0 0 35px 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.6em;
}

#fb {
    color: #3b5998;
}

#tw {
    color: #00aced;
}

#yt {
    color: #bb0000;
}

#contact {
    font-family: 'Open Sans', sans-serif;
    background: #ded1c1;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 50px;
}

#contact-label {
    font-size: 1.5em;
    font-weight: bold;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #26a5d3;
}



textarea.form-control {
    height: 100px;
}

.left {
    float: left;
}

.left-c {
    float: left;
    padding: 0;
}

.ccustom { 
    background: #ded1c1;
}