<div id="slider">
  <input checked="" type="radio" name="slider" id="slide1" selected="false">
  <input type="radio" name="slider" id="slide2" selected="false">
  <input type="radio" name="slider" id="slide3" selected="false">
  <input type="radio" name="slider" id="slide4" selected="false">
  <div tooltip="Click buttons below to preview more!" tooltipPlacement="top" [tooltipAnimation]="true" id="slides">
    <div id="overflow">
      <div class="inner">
        <img src="../../assets/img/gallery/preview_xxs/bluejay.jpg">
        <img src="../../assets/img/gallery/preview_xxs/cards.jpg">
        <img src="../../assets/img/gallery/preview_xxs/ant.jpg">
      </div>
    </div>
  </div>
  <label for="slide1"></label>
  <label for="slide2"></label>
  <label for="slide3"></label>
</div>
<div class="container">
  <div class="row">
    <hr>
    <h3 class="h-margin">Social Sites</h3>
    <ul class="list-inline banner-social-buttons">
      <li class="li-margin"><a id="fb" target="_blank" href="https://www.facebook.com/ssimartpage/" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
      <li><a id="in" target="_blank" href="https://www.instagram.com/ssim_art/?hl=en" class="btn btn-default btn-lg"><i class="fa fa-instagram"> <span class="network-name">Instagram</span></i></a></li>
      <!--<li><a id="yt" href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>-->
    </ul>
  </div>
  <p class="p-margin">Stefan Simonovic 2017 ©</p>
</div>

